#quiz-wrap {
    width: 100%;
    height: 100%;
    > .top {
        display: flex;
        width: 100%;
        height: 50%;
        flex-direction: column;
        > header {
            display: flex;
            width: 100%;
            height: 14%;
            color: var(--c2);
            background-color: var(--c1-dark);
            font-family: var(--f1);
            border-bottom: 1px solid var(--c2);
            > div {
                width: 33% !important;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            > div:nth-child(2) {
                border-width: 0 1px 0 1px;
                border-style: solid;
                border-color: var(--c2);
            }
        }
        > .main {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
        }
    }
    > .bottom {
        display: grid;
        width: 100%;
        height: 50%;
        gap: 15px;
        padding: 0 15px 15px 15px;
        grid-template-columns: 1fr 1fr;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }
    &.finished {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--c2);
        > .result {
            translate: 0 -70px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 20px;
        }
    }
    .btn {
        height: 100%;
        width: 100%;
        border: 1px solid var(--c2);
        background-color: var(--c1-dark);
        border-radius: 6px;
        color: var(--c2);
        font-family: var(--f1);
        font-size: 26px;
        font-weight: 600;
        letter-spacing: 2px;
        cursor: pointer;
        &:active { /* Vid klick */
            background-color: var(--c1);
            color: var(--c2-dark);
            border-color: var(--c2-dark);
        }
    }
}