#piano-wrap {
    --w2: calc(var(--w)*0.11);
    position: relative;
    display: flex;
    width: max-content;
    height: max-content;
    column-gap: calc(var(--w2)*0.075);
    > .octave {
        width: max-content;
        height: max-content;
        display: block;
        position: relative;
        > .white-keys, > .black-keys {
            display: flex;
            top: 0;
            left: 0;
            > .key {
                box-sizing: border-box;
                border-radius: 0 0 calc(var(--w2)*0.2) calc(var(--w2)*0.2);
                transition: all ease 0.1s;
            }
        }
        > .white-keys {
            display: flex;
            column-gap: calc(var(--w2)*0.075);
            > .key {
                width: var(--w2);
                height: calc(var(--w2)*4);
                background-color: var(--c1);
                border: 1px solid var(--c2);
            }
            > .key[marked="true"] {
                background-color: var(--c2);
                border-color: var(--c2);
            }
        }
        > .black-keys {
            position: absolute;
            display: flex;
            column-gap: calc(var(--w2)*0.475);
            position: absolute;
            top: 0;
            left: 0;
            > .key {
                width: calc(var(--w2)*0.6);
                height: calc(var(--w2)*2.75);
                background-color: var(--c1-dark);
                border: 1px solid var(--c2-dark);
            }
            > .key:first-child {
                margin-left: calc( var(--w2) * ((1 - 0.3) + (0.075 * 0.5)) );
            }
            > .key.F\# {
                margin-left: calc(var(--w2)*1.075);
            }
            > .key[marked="true"] {
                background-color: var(--c2-dark);
                border-color: var(--c2-dark);
            }
        }
    }
}
#piano-wrap.hoverable {
    > .octave {
        > .white-keys > .key:hover {
            background-color: var(--c2);
            border-color: var(--c2);
        }
        > .black-keys > .key:hover {
            background-color: var(--c2-dark);
            border-color: var(--c2-dark);
        }
    }
}